@media (max-width: 1279px) {
    .start {
        height: 1165px;
    }
    
	.container {
		max-width: 768px;
		margin: 0 auto;
        padding: 0 30px 0 30px;
	}
    
    .header {
        margin: 0 auto;
        padding-top: 30px;
        max-width: 708px;
    }
    
    .start .wrapper {
        margin: auto;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .content {
        margin-top: 60px;  
    }

    .start .wrapper span {
        display: block;
        text-align: center;
    }

    .puppy-bg{
        margin-top: 100px;
        margin-left: 139px;
        width: 569px;
        height: 593px;     
    }
    .puppy-bg img {
        width: 100%;
        height: 100%;
    }

    .about {
        height: 1048px;
    }
    .wrap_about {
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .pets_bg {
        margin: 0 auto;
        margin-bottom: 100px;
        padding-top: 80px;
        width: 300px;
        height: 408px;
    }

    .about_discr {
        padding-top: 81px;
        margin: auto;
        max-width: 430px;
        margin-bottom: 0;
        width: 100%;
    }

    .about_title {
        line-height: 128%;
    }

    .pets {
        height: 877px;
    }
    .pets .slider_off {
        display: none;
    }

    .pets .slider__center {
        margin: 0;
        margin-left: 29px;
    }

    .help {
        height: 779px;
    }

    .help__icons {
       
        max-width: 657px;
       
    }
    
   
    .help__first .first__line {
        padding: 0;
        width: 30%;
       
    }
    
    .help__first .second__line {
        padding: 0;
        width: 30%;
        
    }

    .help__first .sleeping_descr {
        letter-spacing: 0.06em;
    }

    .help__first .collars {
        
        .collars_img {
            margin-bottom: 7px;
        }
    }

    .donation {
        height: 783px;
    }

    .donation__wrapper  {
        flex-flow: column-reverse;
        align-items: center;
    }

    .donation__subtitle {
        padding: 18px 0;
    }
    .donation__text {
        padding-top: 21px
    }

    .donation__wrapper .image {
        margin: 0;
        margin-top: 60px;
        width: 505px;
    }

    footer {
        height: 639px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
        padding-top: 31px;
        padding-left: 14px;
        padding-right: 13px;
        justify-content: center;
    }

    .wrapper_item {
        width: 50%;
        margin: 0;
    }

    .footer__contacts {
        padding: 0;
    }

    .footer__location {
        padding: 0;
        flex-basis: auto;
    }

    .footer__puppy {
        padding-top: 64px;
        padding-left: 20px;
    }

}   

@media (max-width: 767px) {

    .overflow-hidden {
        overflow: hidden;
        //display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0,0,0, 0.56);
    }
       


    // .overlay {
    //     //display: none;
    //     position: fixed;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     background-color: rgba(0,0,0, 0.56);
    // }

    .start {
        height: 823px;
    }

    .container {
		max-width: 320px;
		margin: 0 auto;
        padding: 0 10px 0 10px;
	}

    .header {
        margin: 0;
        justify-content: space-between;
        max-width: 257px;
        align-items: center;
    }

    .navigation {
        margin: 0 auto;
		position: fixed;
		flex-direction: column;
        justify-content: center;
        align-items: center;
		top: 0;
		right: -100%;
        width: 320px;
        height: 100vh;
        // height: 823px;
        padding-bottom: 15px;
        padding-left: 3px;
		background-color: #292929;
		transition: 0.6s all;   
        gap: 34px; 
        .navigation__item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
        }  
        .link {
            font-size: 32px;
        }  
    }

    .navigation .li-logo {
        display:inline-block;
        
    }

    .navigation_active {
        transition: 0.6s all; 
        right: calc((100vw - 320px) / 2);
    } 

    // .logo_active {
    //     z-index: 2;
    // }

    .hamburger {
        display: block;
        width: 30px;
        height: 22px;
        transition: 0.6s all;

        span {
            display: block;
            position: relative;
            height: 2px;
            width: 100%;
            background-color: $color-primary;
            margin-bottom: 7px;
            transition: 0.6s all;
        }
    }

    .hamburger_active {
        transform: rotate(-90deg);
        transition: 0.6s all;
        span {
            margin-bottom: 0px;
        }
        span:nth-child(2) {
            margin: 8px 0;
        }
    }

    .start .wrapper {
        align-items: center;
    }

    .wrapper .content {
        margin-top: 58px;
        text-align: center;  
    }

    .content {
        h2 {
            padding: 0 20px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 130%;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        }
    }

    .puppy-bg {
        width: 260px;
        height: 271.77px;
        margin-top: 105px;
        margin-left: 39px;
    }

    .about {
        height: 974px;
    }
   
    .about_title {
        padding: 0 10px;
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
        
    }

    .about_discr {
        padding-top: 42px;
        margin: 0 auto;
        max-width: 270px;
        p {
           
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            text-align: justify;
        }
        .about_subtitle2 {
            margin-top: 21px;
        }
    }

    .pets_bg {
        width: 260px;
        height: 353.6px;
        padding-top: 41px;

    }

    .pets {
        height: 791px;
    }
    
    .pets__carousel {
        flex-flow:wrap;
        // justify-content: center;
        display: inline-flex;
        
    }

    .pets__title {
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        max-width: 300px;
        padding: 0;
        padding-top: 42px;
    }

    .pets__slider {
        height: 435px;
        margin-top: 42px;
        margin-left: 15px;
        margin-bottom: 19px;
        
    }


    .pets .slider__center {
        display: none;
        
    } 

    .arr-left {
        order: 2;
        margin-left: 58px;
        
    } 
    .arr-right {
        order: 2;
        margin-right: 58px;
    }

    .pets .btn_get {
        margin: 0;
        margin-top: 43px;
    }

    .help {

        height: 745px;
    
    }

    .help__title {
        display: block;
        width: 222px;
        height: 64px;
        
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding-top: 42px;
        padding-bottom: 42px;
    } 

    .help__icons {
      width: 290px;
      height: 555px;
      
      
    }

    .help__first {
        
        width: 290px;
        height: 555px;

        gap: 28px;
    }

    .help__first .first__line {
        // width: 50%;
        margin-bottom: 0;
        width: 130px;
        height: 87px;
    } 
     
 
    
    .help__first .second__line {
        width: 130px;
        height: 87px;
        margin-bottom: 0;
        // width: 50%;
    }
    
    .help__descr {
        font-size: 15px;
        line-height: 110%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding-top: 12px;
    }

    .donation {
        height: 543px;
        
    }

    .donation__wrapper .image {
        /* margin: 91px 30px 110px 183 */
        margin: 0;
        margin-top: 42px;
        width: 260px;
    }

    .donation__descr {
       padding: 0 10px;
        margin-top: 42px;
        max-width: 300px;
    }

    .donation__title {
       
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .donation__subtitle {
        text-align: center;
        letter-spacing: normal;
        font-size: 15px;
        line-height: 160%;
        align-items: center;

        padding: 19px 0;
    }

    .donation__btn {
        display: flex;
        justify-content:space-around;
        width: 281px;
        height: 43px;
        background: #F1CDB3;
        border-radius: 9px;
        border: none;
        padding: 0 7px;
        padding-top: 4px;
        text-align: center;
        align-items: center;
       

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
    }
  
    .donation__text {
        padding-top: 22px;
     
        font-size: 12px;
        line-height: 18px;
        align-items: center;
        text-align: justify;
    }

    a {
        text-decoration: none;
    }

    footer {
        height: 809px;
    }

    .footer__wrapper {
        padding: 29px 0 0 0;
        align-items:center;
    }
    
    .footer_descr {
        margin: 0 auto;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .footer__email {
      
        padding-top: 43px;
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .footer__phone {
       
        padding-top: 42px;
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer__addr {
        
        padding-top: 39px;
        padding-right: 6px;
        display: flex;
        justify-content: space-between;
        max-width: 300px;
    }

    .footer__contacts {
        padding: 0;
        margin: 0;
    }

    .wrapper_item {
       
        width: 100%;
    }

    .footer__location {
        padding: 0;
        margin-top: 40px;
    }

    

    .addr {
      
        padding-top: 39px;
        padding-right: 31px;
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        text-align: center;
        align-items: center;
        a {
            padding-top: 0;
        }
    }
    
    .footer__puppy {
        padding: 0;
        padding-top: 41px;
        width: 260px;
        height: 269px;
        img {
            width: 100%;
            height: auto;
        }
    }

    footer img {
        margin-right: 0;
    }
    
}    
