
@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/arial/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/ArialMT.woff2') format('woff2'),
        url('../../assets/fonts/arial/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/Georgia-Italic.woff2') format('woff2'),
        url('../../assets/fonts/georgia/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/georgia/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Georgia", "Arial";
    scroll-behavior: smooth;
     /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    max-height: 120px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 120px;
    background: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
   
}

.header .logo__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454; 

    margin: 31px 0 10px 0;
}

.header .logo__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
    padding-left: 4px;
}

.header .logo-link {
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    width: 444px;
}

.navigation li {
    list-style-type: none;
}

.header__navigation .link {
    
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color:#545454;
}

.header__navigation .link-active {
    padding-bottom: 4px;
    border-bottom: 3px #F1CDB3 solid;
    height: 24px;
    color: #545454;
}

.header__navigation .link:hover {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
}

.pets {
    height: 1342px;
    background: #F6F6F6;
}

.pets .container {
    max-width: 1200px;
    margin: 0 auto;
}

.pets__title {
    text-align: center;
    margin-bottom: 13px;
    padding: 80px 0 45px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.pets__wrapper .card {
    background: #FAFAFA;
    width: 270px;
    height: 435px;
    text-align: center;
    
}

.pets__subtitle {
    margin-top: 26px;
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.learn_more {
    text-align: center;
    width: 187px;
    height: 52px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    background: #FAFAFA;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    transition: all 150ms ease-in-out;
}

.pets__wrapper .card:hover {
    cursor: url("../../assets/icons/cursor_hover_dark.png"), auto;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #FFFFFF;
}

.pets__wrapper .card:hover .learn_more {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;

}

.pets__navi {
    margin: 0 auto;
    width: 340px;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}

.pets__navi button {
    background:#F6F6F6;
    width: 2.6em;
    height: 2.6em;
    border: 2px solid #FDDCC4;
    border-radius: 50%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color:  #292929;
}

.pets__navi .btn-inactive {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.pets__navi .btn-current {
    border: 2px solid #F1CDB3;
    background: #F1CDB3;
}

.pets__navi .btn-hover:hover {
    background: #FDDCC4;
}

footer {
    max-height: 350px;
    background: url('../../assets/img/bg/footer-gradient-background.png') center center/cover no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    margin-top: 56px;
}

.footer__location {
    margin-top: 56px;
}

.footer__puppy {
    margin-top: 40px;
    margin-left: 10px;
}

.footer_descr {
    max-width: 279px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__text {
    display: flex;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__email {
    margin-top: 43px;
}

footer img {
    margin-right: 20px;
}

footer img:last-child {
    margin-right: 0;
}

.footer__addr {
    margin-top: 34px;
}

.addr a {
    padding-top: 5px;
}

.footer__phone {
    margin-top: 42px;
}

.footer__phone a {
    padding-top: 5px;
}

footer a {
    text-decoration: none;
    color: #F1CDB3;
}

.addr {
    margin-top: 32px;
}

.footer__addr img {
    padding-top: 5px;
    width: 23px;
    height: 36px;
}
